@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat+Alternates:wght@400;600;700;800&family=Pixelify+Sans:wght@400..700&family=Playfair:opsz,wght@5..1200,300..900&family=Playwrite+IN:wght@100..400&family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= Google Fonts ================ */

.playfair_font {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  /* font-weight: 300 to 900; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.roboto_font {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  /* font-weight: 100 to 900; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.montserrat_alternates_font {
  font-family: "Montserrat Alternates", serif;
  /* font-weight: 400 to 800; */
  font-style: normal;
}

.playwrite_in_font {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  /* font-weight: 100 to 400; */
  font-style: normal;
}

.caveat_font {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  /* font-weight: 400 to 700; */
  font-style: normal;
}

.pixelify_sans_font {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: 400 to 700; */
  font-style: normal;
}
/* ============= Google Fonts ================ */

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar_hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar_hide {
  scrollbar-width: none;
}
